@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /*primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /*background gradient*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    /*background circle gradient*/
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*neutral colors*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    width: 20em;
    height: 100%;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.your-result{
    font-size: 20px;
    color: var(--light-lavender);
}

.circle{
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    margin: 2em 0 1em;
    padding: 2em 2.5em;
}

.value{
    text-align: center;
    font-size: 62px;
    font-weight: 800;
    color: var(--white);
    line-height: 60px;
}

.of{
    text-align: center;
    color: var(--light-lavender);
    font-size: 14px;
    font-weight: 700;
}

h1{
    color: var(--white);
    font-size: 32px;
}

.text {
    text-align: center;
    color: var(--light-lavender);
    padding: 0 2em;
    margin: 1em 0;
    
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
